.título01 {

    background-color: orange;
    padding: 10px;
    color: white;
    margin: 0;
}
.bloco02{font-family: 'Dancing Script', cursive;
    margin: 0;

}
.bloco04 img{
    width: 300px;
    border: 3px solid black;
}


